
<div id="search" class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Pretraživanje</h3>
        <a class="btn btn-success pull-right" data-bind="href: navigateToList()">Search</a>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-2 control-label">Županija:</label>
                <div class="col-xs-10">
                    <select class="form-control" data-bind="options: provinces, optionsText: 'name', value: selectedProvince, optionsCaption: 'Izaberi županiju'"></select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-xs-2 control-label">Grad</label>
                <div class="col-xs-10">
                    <select class="form-control" data-bind="options: cities, optionsText: 'name', value: selectedCity, optionsCaption: 'Izaberi grad'"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="checkbox" id="check1" class="check" data-bind="checked: general" />
                    <label class="check control-label" for="check1">Opća</label>
                </div>
                <div class="col-xs-6">
                    <input type="checkbox" id="check2" class="check" data-bind="checked: dental" />
                    <label class="check control-label" for="check2">Zubar</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <input id="check3" class="check" type="checkbox" data-bind="checked: woman" />
                    <label class="check control-label" for="check3">Žene</label>
                </div>
                <div class="col-xs-6">
                    <input id="check4" class="check" type="checkbox" data-bind="checked: preschool" />
                    <label class="check control-label" for="check4">Djeca:</label>
                </div>
            </div>
        </form>
    </div>
    </div>