<p>
    Županija: <select data-bind="options: provinces, optionsText: 'name', value: selectedProvince, optionsCaption: 'Izaberi županiju'"></select>
    Grad: <select data-bind="options: cities, optionsText: 'name', value: selectedCity, optionsCaption: 'Izaberi grad'"></select>
    Opća: <input type="checkbox" data-bind="checked: general" />
    Zubar: <input type="checkbox" data-bind="checked: dental" />
    Žene: <input type="checkbox" data-bind="checked: woman" />
    Djeca: <input type="checkbox" data-bind="checked: preschool" />
</p>
<button type="button" class="btn btn-default">Search</button>