

<div class="bootcards-list fixed-bottom" style="height: initial;position: fixed; width: 100%; bottom: 0;">
    <div class="panel panel-default">
        <div class="list-group">
            <a class="list-group-item" href="/#/map/">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-3x fa-map-marker pull-left"></i>
                        <h4 class="list-group-item-heading">Karta zdravstvenih službi</h4>
                    </div>
                </div>
            </a>
            <a class="list-group-item" href="/#/search/">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-3x fa-search pull-left"></i>
                        <h4 class="list-group-item-heading">Pretraživanje</h4>
                    </div>
                </div>
            </a>
            <a class="list-group-item" href="/#/info/">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-3x fa-medkit pull-left"></i>
                        <h4 class="list-group-item-heading">Zdravstvena zaštita</h4>
                    </div>
                </div>
            </a>
            <a class="list-group-item" href="/#/about/">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-3x fa-building-o pull-left"></i>
                        <h4 class="list-group-item-heading">HZZO</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


