<style>
    .list-group-item-heading{
        padding-top: 20px;
        padding-left: 70px;
    }
</style>

<div class="bootcards-list fixed-bottom" style="height: initial;position: fixed; width: 100%; bottom: 0;">
    <div class="panel panel-default">
        <div class="list-group">
            <a style="background-color:#d91b5b; color:#FFF; margin: 0; padding-left: 20px;" class="list-group-item" href="/#/map/">
                <div class="row">
                    <div class="col-sm-12">
                        <i  class="fa fa-3x fa-map-marker pull-left"></i>
                        <h3 style="color:#FFF;" class="list-group-item-heading"><b>Karta zdravstvenih službi</b></h3>
                    </div>
                </div>
            </a>
            <a style="background-color:#EEE; color:#58585B; margin: 0; padding-left: 20px;" class="list-group-item" href="/#/search/">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-3x fa-search pull-left"></i>
                        <h3 style="color:#58585B" class="list-group-item-heading"><b>Pretraživanje</b></h3>
                    </div>
                </div>
            </a>
            <a style="background-color:#652C90; color:#FFF; margin: 0; padding-left: 20px;" class="list-group-item" href="/#/info/">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-3x fa-medkit pull-left"></i>
                        <h3 style="color:#FFF;" class="list-group-item-heading"><b>Zdravstvena zaštita</b></h3>
                    </div>
                </div>
            </a>
            <a style="background-color:#EEE; color:#58585B; margin: 0; padding-left: 20px;" class="list-group-item" href="/#/about/">
                <div class="row">
                    <div class="col-sm-12">
                        <i  class="fa fa-3x fa-building-o pull-left"></i>
                        <h3 style="color:#58585B;" class="list-group-item-heading"><b>HZZO</b></h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


