<div class="bootcards-list">
    <div class="panel panel-default">
        <div class="list-group">
            <!--data-bind="foreach: <reprezentacija search resulta>"-->
            <a class="list-group-item" href="#">
                <!--Link mora voditi na details i to specifičnog objekta.-->
                <img src="/images/Sofia Acey.jpg" class="img-rounded pull-left" /> <!--ikonica ordinacije za sve ista-->
                <h4 class="list-group-item-heading">
                    <!--data-bind="text: OrdinationName"-->
                </h4>
                <p class="list-group-item-text">
                    <!--data-bind="text: Ordination location"-->
                </p>
            </a>
        </div>
    </div>
</div>